/* Global attributes */

:root {
	--nw-red: #f72210;
	--nw-menu-icon: #fb9b93;
	--nw-login-icon: #fdc8c3;
	--nw-yellow: #ffe400;
	--white: #fff;
	--nw-gray-bg: #f4f5f6;
	--nw-gray-titles: #9a9a9a;
	--nw-gray-header: #807f84;
	--black: #000;
}

body {
  background: var(--nw-gray-bg);
}

/* Navbar */

.m88large__navbar {
  display: none;
}

.m88block {
  background: var(--nw-red);
  width: 1310px;
  position: relative;
}

.m88block-small {
  background: var(--nw-red);
  width: 100%;
  position: relative;
}

.m88small__navbar {

}

.arial {
	font-family: 'Times New Roman', Times, serif;
}

.fa-user {
  color: var(--nw-login-icon);
}

.fa-bars {
  color: var(--nw-menu-icon);
}

.nw__logo-small {
  width: 150px;
}

.m88btn-small {
  letter-spacing: -0.05rem;
  font-size: 0.8rem;
}

.nw__logo-large {
  width: 430px;
}

.m88login {
  margin: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.m88first__nav {
  position: relative;
  width: 1310px;
  display: none;
}

.m88search {
  border: 1px solid #000;
}
.m88search:focus {
  width: 95%;
  position: absolute;
  left: 1rem;
}

.m88second__nav {
  width: 1310px;
}
@media screen and (min-width: 992px) {
  .m88small__navbar {
    display: none;
  }

  .m88large__navbar {
    display: inline;
  }

  .m88first__nav {
    display: flex;
  }
}

